body {
    margin: 0;
    text-align: center;
    font-size: 100%;
    line-height: 1.125em;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', sans-serif;
}

#header-container {
    width: 100%;
    min-width: 960px;
    height: 80px;
    background: rgb(117,163,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(117,163,25,1) 0%, rgba(163,194,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,163,25,1)), color-stop(100%,rgba(163,194,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a319', endColorstr='#a3c266',GradientType=0 ); /* IE6-8 */
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#header {
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 960px;
    color: #333;
}

#links {
    position: absolute;
    right: 10px;
}

#main-container {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px auto 0;
    width: 960px;
    min-height: 500px;
    text-align: left;
    padding: 20px;
    font-size: 0.875em;
}

#toc {
    float: right;
    font-size: 0.9em;
    width: 240px;
    padding: 5px 15px;
    margin-top: 1em;
    margin-left: 20px;
    border: 1px solid #DDD;
    background-color: #fdfdfd;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#toc ol {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #708d00;
}

a:hover, a:active {
    text-decoration: underline;
}

a:visited {
    color: #7c9d00;
}

h1 {
    color: #637e00;
    margin-bottom: 1.25em;
}

h2 {
    color: #708d00;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h3 {
    color: #7c9d00;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

h4 {
    color: #89a719;
}

p {
    margin: 0.75em 0;
}

#all_links {
    display: none;
    position: absolute;
    top: 3em;
    right: 0;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    width: 350px;
    height: 500px;
    overflow: auto;
    z-index: 100;
    padding: 20px;
    
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 25px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 25px;
    -moz-border-radius-topright: 0;
    border-radius: 25px;
    border-top-right-radius: 0;
}

#all_links a {
    display: block;
    margin: 0.5em 0;
}

#all_links_toggler {
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 0;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #555;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 0.9em;
    color: #EEE;
    background: rgb(119,119,119); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}

#all_links_toggler.shown {
    background: rgb(51,51,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#777777',GradientType=0 ); /* IE6-8 */
}

.bq code, .code {
    font-family: 'Monaco', 'Inconsolata', 'Courier New', 'Courier', monospace;
    color: #444;
}

code {
    font-family: 'Monaco', 'Inconsolata', 'Courier New', 'Courier', monospace;
    color: #666;
    padding: 0 0.25em;
}

.code, .bq {
    border: 1px solid #ddd;
    padding: 0 20px 1em;
    overflow: auto;
    background-color: #fbfbfb;
}

table.wiki-table {
    border-collapse: collapse;
}

table.wiki-table th {
    background-color: #7c9d00;
    color: white;
    padding: 3px 5px;
    text-align: center;
    border: 1px solid #7c9d00;
}

table.wiki-table tr.table-odd {
    background-color: white;
}

table.wiki-table tr.table-even {
    background-color: #F2F5E6;
}

table.wiki-table td {
    padding: 3px 10px;
    border: 1px solid #7c9d00;
}