body {
    margin: 0;
    text-align: center;
    font-size: 100%;
    line-height: 1.125em;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', sans-serif;
}

#header-container {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    top: 0;
    height: 80px;
    background: rgb(117,163,25); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YTMxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2MyNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(117,163,25,1) 0%, rgba(163,194,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,163,25,1)), color-stop(100%,rgba(163,194,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(117,163,25,1) 0%,rgba(163,194,102,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a319', endColorstr='#a3c266',GradientType=0 ); /* IE6-8 */
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#header {
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 1000px;
    color: #333;
}

#links {
    position: absolute;
    right: 10px;
}

#main-container {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 80px auto 0;
    width: 1000px;
    min-height: 500px;
    text-align: left;
    padding: 20px;
    font-size: 0.875em;
}

#toc {
    float: right;
    font-size: 0.8em;
    width: 200px;
    padding: 10px;
    margin-top: 1em;
    border: 1px solid #DDD;
    background-color: #F2F2F1;
    background-color: rgba(242, 242, 241, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#toc ol {
    padding-left: 20px;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

h1 {
    color: #444;
    margin-bottom: 1.25em;
}

h2 {
    color: #555;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}

h3 {
    color: #666;
}

p {
    margin: 0.75em 0;
}

#all_links {
    display: none;
    position: absolute;
    top: 3em;
    right: 0;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    width: 350px;
    height: 500px;
    overflow: auto;
    z-index: 100;
    padding: 20px;
    
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 25px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 25px;
    -moz-border-radius-topright: 0;
    border-radius: 25px;
    border-top-right-radius: 0;
}

#all_links_toggler {
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 0;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #555;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 0.9em;
    color: #EEE;
    background: rgb(119,119,119); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}

#all_links_toggler.shown {
    background: rgb(51,51,51); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Nzc3NzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#777777',GradientType=0 ); /* IE6-8 */
}